// colors

$color-primary: green;
$color-secondary: #001534;
$color-accent: #D6FFF5;
$color-white: #fff;
$color-invalid: #DB464B;

// layout

$line-height: 1.5;
$spacing: 1rem;

// fonts

$font-size: 14px;